{% extends 'BlackRookTaskBundle::layout.html.twig' %}
{% block body %}

<h1>Tag creation</h1>

<form class="entity" action="{{ path('tag_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_rest(form) }}
    <div class="actions">
        <button type="submit">Create</button>
    </div>
</form>

{% endblock body %}